<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.natour2021">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>


    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".AmplifyActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaTour2021">

        <activity
            android:name="com.amplifyframework.auth.cognito.activities.HostedUIRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="natour2021" />
            </intent-filter>
        </activity>

        <activity
            android:name="Playlist.ModificationView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Playlist.PersonalDetailView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Playlist.PlaylistDetailsView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Playlist.PlaylistView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="Search.DetailView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Search.ResultView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Create.CreateView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Search.SearchView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Login.HomeView"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NaTour2021.NoActionBar" />
        <activity
            android:name="Login.prova"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Login.LoginView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Login.RegistrationView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>